.sticky_navbar{
    display: flex;
    flex-direction: row;
    background-color:#77ad6f; //#ACC15E;
    width: 100%;
    height: 4rem;
    align-items: center;
    justify-content: space-between;
}

.flexstart{
    justify-content: flex-start;
}

.flexend {
    justify-content: flex-end;
}

.page_title{
    font-family: 'Berkshire Swash', cursive;
    font-weight: 50;
    color: white;
    font-size: 2em;
    padding-left: 2rem;
    text-decoration: none;
}

.login{
    color: black;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 0.3rem;
    padding: 0.5rem 0.5rem 0.5rem 1rem;
    margin: 1rem;
    &::placeholder{
        font-weight: bold;
    }
    &:focus{
        outline: none;
    }
}

.password{
    color: black;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 0.3rem;
    padding: 0.5rem 0.5rem 0.5rem 1rem;
    margin: 1rem;
    &::placeholder{
        font-weight: bold;
    }
    &:focus{
        outline: none;
    }
}

.login_bt{
    background-color: #f5e000;
    border:none;
    border-radius:2rem;
    color: black;
    padding: 0.5rem 2rem;
    margin: 0 0.5rem 0 0;
    &:focus{
        outline: none;
    }
    &:active{
        background-color: #FC9D69;
    }
}

.register_bt{
    background-color: #FC9D69;
    border:none;
    border-radius:2rem;
    color: black;
    padding: 0.5rem 2rem;
    margin: 0 2rem 0 0;
    &:focus{
        outline: none;
    }
    &:active{
        background-color: #f5e000;
    }
}



